.team-logo{
    height: 60px;
}

.match-card{
   background-color: #002380; 
   display: flex;
   justify-content: space-between;
   width: 94%;
   
}


/* this css file also contains style for SponsorCarousel component */
.sponsor-title{
    background-color: #002380;
}