@tailwind base;
@tailwind components;
@tailwind utilities;

.sizeIncrease {
  transition: all 0.2s ease-in-out;
  overflow-x: scroll;
}
.sizeIncrease:hover {
  transform: scale(1.05);
}

.autoHeight {
  height: 568px;
}

.card {
  height: 325px;
  width: 275px;
  border-radius: 10px;
  border: 1px solid black;
}

.orange {
  background-color: orangered;
}

.gray {
  color: gray;
}

.small_text {
  font-size: 10px;
}
.top_border_rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
