.blur {
  background-size: cover;
  /* width: 50%; */
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(2px);
  transition: 0.3s filter linear;
  -webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -ms-transition: 0.3s -ms-filter linear;
  -o-transition: 0.3s -o-filter linear;
}
/* .no-blur {
  background: url("https://images.unsplash.com/photo-1591775995956-a6c811374d9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80")
    no-repeat center center;
  background-size: cover;
  width: 50%;
  height: 100%;
}
span {
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
} */

.tournament-name-animated {
  font-size: 70px;
  /* margin-top:45vh; */
  color: white;
  font-family: "Rancho", cursive;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

h2 {
  font-size: 80px;

  text-shadow: 2px 0 4px red;
  animation: text-animation 5s linear infinite;
}

@keyframes text-animation {
  0% {
    text-shadow: 3px 0 6px red;
  }
  25% {
    text-shadow: 3px 0 13px green;
  }
  50% {
    text-shadow: 3px 0 18px yellow;
  }
  75% {
    text-shadow: 3px 0 13px orange;
  }
  100% {
    text-shadow: 3px 0 6px purple;
  }
}

.mmnct-about {
  background-color: peachpuff;
  padding: 20px 9px;
  margin: 20px 0px;
}

.contest-image {
  position: absolute;
  width: 440px;
  height: 455px;
  right:-140px;
  bottom: 0px;
  /* z-index: 4; */
  
}

.left-icon {
  font-weight: 700;
}

.contest-title {
  font-weight: 900;
}

